In [29]:
import numpy as np
import pandas as pd
import warnings
import geopandas as gpd
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
from datetime import datetime
import boto3
from botocore.exceptions import NoCredentialsError
warnings.filterwarnings('ignore')

C:\Users\ASPIRE VX\anaconda3\lib\site-packages\google\auth\__init__.py:55: Python37DeprecationWarning: After January 1, 2024, new releases of this library will drop support for Python 3.7. More details about Python 3.7 support can be found at https://cloud.google.com/python/docs/python37-sunset/
  warnings.warn(message, Python37DeprecationWarning)
C:\Users\ASPIRE VX\anaconda3\lib\site-packages\google\oauth2\__init__.py:40: Python37DeprecationWarning: After January 1, 2024, new releases of this library will drop support for Python 3.7. More details about Python 3.7 support can be found at https://cloud.google.com/python/docs/python37-sunset/
  warnings.warn(message, Python37DeprecationWarning)

In [4]:
df = pd.read_csv("chicago_taxi_trips.csv")

In [5]:
df.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,47a8731b4a077ef4196e260c2865f06e33c0bbc8,02ef8f01232b1b1828f4e5e1b8e8a85cd71b67c449afaf...,2022-10-31 00:45:00+00:00,2022-10-31 01:00:00+00:00,1381.0,11.97,NaN,NaN,68.0,33.0,...,0.0,32.00,Prcard,City Service,41.777196,-87.642498,POINT (-87.6424975271 41.7771962546),41.857184,-87.620335,POINT (-87.6203346241 41.8571838585)
1,3696bb7f386062eb3f42a48ae2a7df55cb290853,b02980a1f1cf5e8f64e56a911bd2bc7e0fb733bf6e465f...,2022-09-30 23:30:00+00:00,2022-09-30 23:45:00+00:00,596.0,2.54,NaN,NaN,21.0,14.0,...,0.0,9.50,Cash,Sun Taxi,41.938666,-87.711211,POINT (-87.7112105933 41.9386661962),41.968069,-87.721559,POINT (-87.7215590627 41.968069)
2,3bcde73d2ae582fc3b20e0fe09a9de473e331a5f,f5b5de5c0c42601f6878d82eeb1984d06c977aab60cb0d...,2022-10-31 15:30:00+00:00,2022-10-31 16:00:00+00:00,1620.0,0.40,NaN,NaN,13.0,5.0,...,0.0,24.50,Unknown,Taxi Affiliation Services,41.983636,-87.723583,POINT (-87.7235831853 41.9836363072),41.947792,-87.683835,POINT (-87.6838349425 41.9477915865)
3,3bd6388e5a7a030b4819286e186b231d64945ce6,2b4a8f4987a1230a1c6dd6212e33e1b58e7b7a513a93f4...,2022-10-31 14:00:00+00:00,2022-10-31 14:15:00+00:00,840.0,0.50,NaN,NaN,60.0,8.0,...,0.0,22.25,Unknown,Taxi Affiliation Services,41.836150,-87.648788,POINT (-87.6487879519 41.8361501547),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
4,3bfa53a500e99ea816d587fa2eeeb3008f1aa336,c52f389ae4d868380527db070d00352de61e235d5e3f87...,2022-10-31 14:15:00+00:00,2022-10-31 14:30:00+00:00,1110.0,10.94,NaN,NaN,48.0,32.0,...,0.0,28.75,Prcard,5 Star Taxi,41.729676,-87.572717,POINT (-87.5727171342 41.7296764229),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)

In [6]:
df.describe()

,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
count,1.611958e+07,1.612348e+07,6.191574e+06,6.180551e+06,1.502696e+07,1.444036e+07,1.611079e+07,1.611079e+07,1.611079e+07,1.611079e+07,1.611079e+07,1.503246e+07,1.503246e+07,1.452683e+07,1.452683e+07
mean,1.199344e+03,6.172223e+00,1.703148e+10,1.703141e+10,3.325578e+01,2.595943e+01,2.172347e+01,2.610248e+00,3.123733e-02,2.167939e+00,2.668126e+01,4.189951e+01,-8.769146e+01,4.189357e+01,-8.766198e+01
std,1.844809e+03,8.546254e+00,3.721384e+05,3.445942e+05,2.554739e+01,2.096543e+01,4.999409e+01,4.094957e+00,9.456728e+00,2.363251e+01,5.872439e+01,6.283829e-02,1.065174e-01,5.814832e-02,7.202528e-02
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165022e+01,-8.791362e+01,4.165022e+01,-8.791362e+01
25%,4.560000e+02,8.200000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,7.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.750000e+00,4.187887e+01,-8.769567e+01,4.187887e+01,-8.766352e+01
50%,8.800000e+02,2.630000e+00,1.703132e+10,1.703132e+10,3.200000e+01,2.800000e+01,1.425000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.725000e+01,4.189503e+01,-8.763331e+01,4.189251e+01,-8.763331e+01
75%,1.636000e+03,1.100000e+01,1.703184e+10,1.703184e+10,5.500000e+01,3.200000e+01,3.275000e+01,3.650000e+00,0.000000e+00,2.000000e+00,3.910000e+01,4.194779e+01,-8.762519e+01,4.192269e+01,-8.762519e+01
max,8.638200e+04,3.430530e+03,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.999750e+03,9.000000e+02,6.666660e+03,9.693780e+03,9.999750e+03,4.202122e+01,-8.753071e+01,4.202122e+01,-8.753139e+01

In [7]:
df.shape

(16124035, 23)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16124035 entries, 0 to 16124034
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   unique_key              object
 1   taxi_id                 object
 2   trip_start_timestamp    object
 3   trip_end_timestamp      object
 4   trip_seconds            float64
 5   trip_miles              float64
 6   pickup_census_tract     float64
 7   dropoff_census_tract    float64
 8   pickup_community_area   float64
 9   dropoff_community_area  float64
 10  fare                    float64
 11  tips                    float64
 12  tolls                   float64
 13  extras                  float64
 14  trip_total              float64
 15  payment_type            object
 16  company                 object
 17  pickup_latitude         float64
 18  pickup_longitude        float64
 19  pickup_location         object
 20  dropoff_latitude        float64
 21  dropoff_longitude       float64
 22  dropoff_location        object
dtypes: float64(15), object(8)
memory usage: 2.8+ GB

In [9]:
df.isnull().sum()

unique_key                      0
taxi_id                         0
trip_start_timestamp            0
trip_end_timestamp           1054
trip_seconds                 4452
trip_miles                    557
pickup_census_tract       9932461
dropoff_census_tract      9943484
pickup_community_area     1097075
dropoff_community_area    1683671
fare                        13249
tips                        13249
tolls                       13249
extras                      13249
trip_total                  13249
payment_type                    0
company                         0
pickup_latitude           1091573
pickup_longitude          1091573
pickup_location           1091573
dropoff_latitude          1597205
dropoff_longitude         1597205
dropoff_location          1597205
dtype: int64

In [10]:
newdf = df.dropna(subset=["dropoff_location"], axis=0)

In [11]:
newdf.isnull().sum()

unique_key                      0
taxi_id                         0
trip_start_timestamp            0
trip_end_timestamp              0
trip_seconds                 2451
trip_miles                    533
pickup_census_tract       8599692
dropoff_census_tract      8363033
pickup_community_area      516054
dropoff_community_area      86466
fare                        11725
tips                        11725
tolls                       11725
extras                      11725
trip_total                  11725
payment_type                    0
company                         0
pickup_latitude            510710
pickup_longitude           510710
pickup_location            510710
dropoff_latitude                0
dropoff_longitude               0
dropoff_location                0
dtype: int64

In [12]:
newdf = newdf.dropna(subset=["pickup_latitude"], axis=0)

In [13]:
newdf.isnull().sum()

unique_key                      0
taxi_id                         0
trip_start_timestamp            0
trip_end_timestamp              0
trip_seconds                 2275
trip_miles                    508
pickup_census_tract       8089148
dropoff_census_tract      8089148
pickup_community_area        5344
dropoff_community_area      76692
fare                        11368
tips                        11368
tolls                       11368
extras                      11368
trip_total                  11368
payment_type                    0
company                         0
pickup_latitude                 0
pickup_longitude                0
pickup_location                 0
dropoff_latitude                0
dropoff_longitude               0
dropoff_location                0
dtype: int64

In [14]:
newdf = newdf.drop(['pickup_census_tract', 'dropoff_census_tract', 'pickup_community_area', 'dropoff_community_area'], axis=1)

In [15]:
newdf.isnull().sum()

unique_key                  0
taxi_id                     0
trip_start_timestamp        0
trip_end_timestamp          0
trip_seconds             2275
trip_miles                508
fare                    11368
tips                    11368
tolls                   11368
extras                  11368
trip_total              11368
payment_type                0
company                     0
pickup_latitude             0
pickup_longitude            0
pickup_location             0
dropoff_latitude            0
dropoff_longitude           0
dropoff_location            0
dtype: int64

In [16]:
newdf = newdf.dropna()

In [17]:
newdf.isnull().sum()

unique_key              0
taxi_id                 0
trip_start_timestamp    0
trip_end_timestamp      0
trip_seconds            0
trip_miles              0
fare                    0
tips                    0
tolls                   0
extras                  0
trip_total              0
payment_type            0
company                 0
pickup_latitude         0
pickup_longitude        0
pickup_location         0
dropoff_latitude        0
dropoff_longitude       0
dropoff_location        0
dtype: int64

In [18]:
unique_values_count_per_column = newdf.apply(lambda col: col.nunique())
unique_values_count_per_column

unique_key              9342366
taxi_id                    3553
trip_start_timestamp     104563
trip_end_timestamp       104587
trip_seconds              18038
trip_miles                 5772
fare                       8396
tips                       2758
tolls                       276
extras                     1811
trip_total                11929
payment_type                  8
company                      49
pickup_latitude             698
pickup_longitude            698
pickup_location             699
dropoff_latitude            737
dropoff_longitude           737
dropoff_location            738
dtype: int64

In [19]:
unique_values_with_counts = newdf['unique_key'].value_counts()
unique_values_with_counts

9e43b23d38e6ce0ddd5056abd371451a407c6db2    6
9a33b009ccf9eafea2ddd3a94a163f873f11bd72    6
a342f6163b14270486da53cb6029f8f64a37a714    6
9c965d96c2aa6422260e4f2d74b364daba1fbf74    6
a04ad775f051539e69d8a6d95e14a8b00c260948    6
                                           ..
7bdfc7a460779bc5b1d91ab1ff8cb06320802514    1
ed223cd31a80f4f57df230fd1bbf63f67037734a    1
adb76d49b036b7d859ac886e2954339372eea922    1
51dcd35ff178165ef97a52436a05eab8432558ac    1
3ff5a15824c4ad540708be7076dcac5526569064    1
Name: unique_key, Length: 9342366, dtype: int64

In [20]:
filtered_value = newdf[newdf['unique_key'] == '9d716c402de2b4629b2dd7eb50ddcb78a367384d']
filtered_value

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
9533770,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)
10015729,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)
11523610,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)
12007718,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)
12501228,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)
13510307,9d716c402de2b4629b2dd7eb50ddcb78a367384d,3497d2b935bf09123c257fd1ff03b4ca266e067fac8e97...,2022-07-27 17:45:00+00:00,2022-07-27 18:00:00+00:00,1020.0,0.6,28.5,0.0,0.0,0.0,28.5,Unknown,Taxi Affiliation Services,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863)

In [21]:
taxi_data_pd = newdf.drop_duplicates(subset='unique_key', keep='first')
taxi_data_pd

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,47a8731b4a077ef4196e260c2865f06e33c0bbc8,02ef8f01232b1b1828f4e5e1b8e8a85cd71b67c449afaf...,2022-10-31 00:45:00+00:00,2022-10-31 01:00:00+00:00,1381.0,11.97,32.00,0.00,0.0,0.0,32.00,Prcard,City Service,41.777196,-87.642498,POINT (-87.6424975271 41.7771962546),41.857184,-87.620335,POINT (-87.6203346241 41.8571838585)
1,3696bb7f386062eb3f42a48ae2a7df55cb290853,b02980a1f1cf5e8f64e56a911bd2bc7e0fb733bf6e465f...,2022-09-30 23:30:00+00:00,2022-09-30 23:45:00+00:00,596.0,2.54,9.50,0.00,0.0,0.0,9.50,Cash,Sun Taxi,41.938666,-87.711211,POINT (-87.7112105933 41.9386661962),41.968069,-87.721559,POINT (-87.7215590627 41.968069)
2,3bcde73d2ae582fc3b20e0fe09a9de473e331a5f,f5b5de5c0c42601f6878d82eeb1984d06c977aab60cb0d...,2022-10-31 15:30:00+00:00,2022-10-31 16:00:00+00:00,1620.0,0.40,24.50,0.00,0.0,0.0,24.50,Unknown,Taxi Affiliation Services,41.983636,-87.723583,POINT (-87.7235831853 41.9836363072),41.947792,-87.683835,POINT (-87.6838349425 41.9477915865)
3,3bd6388e5a7a030b4819286e186b231d64945ce6,2b4a8f4987a1230a1c6dd6212e33e1b58e7b7a513a93f4...,2022-10-31 14:00:00+00:00,2022-10-31 14:15:00+00:00,840.0,0.50,22.25,0.00,0.0,0.0,22.25,Unknown,Taxi Affiliation Services,41.836150,-87.648788,POINT (-87.6487879519 41.8361501547),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
4,3bfa53a500e99ea816d587fa2eeeb3008f1aa336,c52f389ae4d868380527db070d00352de61e235d5e3f87...,2022-10-31 14:15:00+00:00,2022-10-31 14:30:00+00:00,1110.0,10.94,28.75,0.00,0.0,0.0,28.75,Prcard,5 Star Taxi,41.729676,-87.572717,POINT (-87.5727171342 41.7296764229),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16116058,850404847c2999f8c4c51dcb95169dd4a12c6e64,04b96cbbdcfe5b7cbb6884bc1b922819466f652662ead8...,2022-11-30 20:45:00+00:00,2022-11-30 20:45:00+00:00,1.0,0.00,3.25,0.00,0.0,0.0,3.25,Cash,5 Star Taxi,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.979071,-87.903040,POINT (-87.9030396611 41.9790708201)
16116059,8511999b789a73509e956866d644b6f02476a487,d5c07ff3802aceed5373a10ec72eef292113d324257906...,2022-11-30 20:15:00+00:00,2022-11-30 21:00:00+00:00,2520.0,17.70,44.75,10.65,0.0,8.0,63.40,Credit Card,Taxi Affiliation Services,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
16116060,8535086fbff181b9999af4528635e60e0d769b48,78d1ae230754ef2eca7aa3e828789bc4714b8a261a35d5...,2022-11-30 19:15:00+00:00,2022-11-30 20:00:00+00:00,2219.0,17.83,44.00,12.38,0.0,5.0,61.88,Credit Card,City Service,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
16116062,853c05c82935a351ebf22f262a8cf9afd12a6187,bf74cd0b2bc2ffe8e5b8c272c34c885330c2c2f0b0871d...,2022-11-30 16:45:00+00:00,2022-11-30 16:45:00+00:00,10.0,0.00,80.00,20.12,0.0,0.0,100.62,Credit Card,City Service,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.979071,-87.903040,POINT (-87.9030396611 41.9790708201)
16116063,853cb6b974e2b41662a7dcd56190a4a33b827edd,e388c06777423baf0232cc504c117e1db74ed10374105f...,2022-11-30 19:30:00+00:00,2022-11-30 20:00:00+00:00,2216.0,18.02,44.50,0.00,0.0,4.0,49.00,Credit Card,Taxicab Insurance Agency Llc,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.890922,-87.618868,POINT (-87.6188683546 41.8909220259)

In [22]:
taxi_data_pd.shape

(9342366, 19)

In [23]:
unique_values_with_counts1 = taxi_data_pd['unique_key'].value_counts()
unique_values_with_counts1

307bded060703dcb638efefb3cf694073908d10a    1
eab7286145ae488cbf1d385a7334aada38dcca86    1
f58f7180edcdc2ff8d5ba7745f26ce1788bdb35b    1
59b2e44dd4267ce485c1f0c32b6b3a731b0f77c9    1
6cf8212b6e602c62aef69240e96d34c8319f5fda    1
                                           ..
69942ed603ba19198182b1702106e10609039d75    1
eef3231f71ca332f217357453d189bbb13ab4b62    1
f38bfdba22322c7a9576f2b714ee940ff0cd0e2d    1
0762602cce5895457f96ef8795df010444187268    1
7ffe9a44279a6b0f5e75cca4b0ae4c470db07e8a    1
Name: unique_key, Length: 9342366, dtype: int64

In [26]:
# Assuming you've already loaded the taxi trip data into a PySpark DataFrame called 'taxi_data'

# Step 1: Load Chicago Neighborhoods GeoJSON or Shapefile using GeoPandas

neighborhoods_gdf = gpd.read_file('chicago.geojson')


# Step 3: Perform Spatial Join
from shapely.geometry import Point

# Create a GeoDataFrame from the Pandas DataFrame
taxi_data_pd = gpd.GeoDataFrame(taxi_data_pd, geometry=gpd.points_from_xy(taxi_data_pd.pickup_longitude, taxi_data_pd.pickup_latitude), crs='EPSG:4326')

# Perform spatial join
taxi_data_pd = gpd.sjoin(taxi_data_pd, neighborhoods_gdf, op='within')

# Step 4: Convert Result Back to PySpark DataFrame
#result_spark = spark.createDataFrame(result)

# Show the result
taxi_data_pd.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,fare,tips,tolls,extras,...,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,geometry,index_right,name,cartodb_id,created_at,updated_at
0,47a8731b4a077ef4196e260c2865f06e33c0bbc8,02ef8f01232b1b1828f4e5e1b8e8a85cd71b67c449afaf...,2022-10-31 00:45:00+00:00,2022-10-31 01:00:00+00:00,1381.0,11.97,32.00,0.0,0.0,0.0,...,POINT (-87.6424975271 41.7771962546),41.857184,-87.620335,POINT (-87.6203346241 41.8571838585),POINT (-87.64250 41.77720),46,Englewood,47,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
10,3eab9475d1d77580cbbc9dc435a12a19daba6e89,f0591861652b050385a092f89356664cf0057576985b57...,2022-10-31 07:45:00+00:00,2022-10-31 07:45:00+00:00,220.0,0.65,5.00,0.0,0.0,0.0,...,POINT (-87.6665962653 41.7759288274),41.775929,-87.666596,POINT (-87.6665962653 41.7759288274),POINT (-87.66660 41.77593),46,Englewood,47,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
13,eb67536dabd616aeace1d6f6684e0454bf9af56f,56f2fce86600dd132681be1323fe78ce26e60f2fffe4b3...,2023-03-15 16:45:00+00:00,2023-03-15 17:15:00+00:00,1440.0,0.20,16.00,0.0,0.0,2.0,...,POINT (-87.6424975271 41.7771962546),41.740206,-87.615970,POINT (-87.6159695226 41.7402057565),POINT (-87.64250 41.77720),46,Englewood,47,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
43,eb987d2d760602dfec498e2d56d093a4d5fc66ac,c7dcd9c3c40629898a157e46db0d92f4559566720b0a65...,2023-03-21 11:15:00+00:00,2023-03-21 11:30:00+00:00,337.0,4.12,12.75,0.0,0.0,0.0,...,POINT (-87.6424975271 41.7771962546),41.842076,-87.633973,POINT (-87.6339734222 41.8420761168),POINT (-87.64250 41.77720),46,Englewood,47,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
64,ee75444d9de2b0590ecefe928e0f9017891b7ed2,c7e24b57c5ac5cc6b23bdaa7ad986c639f07680587bf71...,2023-03-28 09:45:00+00:00,2023-03-28 10:15:00+00:00,1491.0,11.16,30.00,0.0,0.0,0.0,...,POINT (-87.6424975271 41.7771962546),41.777196,-87.642498,POINT (-87.6424975271 41.7771962546),POINT (-87.64250 41.77720),46,Englewood,47,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00

In [27]:
taxi_data_pd.to_parquet("chicago_taxi_trips.parquet")

In [30]:

parquet_file_path = "chicago_taxi_trips.parquet" 
# AWS S3 Upload
try:
    s3 = boto3.client(
        's3',
        aws_access_key_id='AKIA3SXAQJ3WBAOKB2MJ',
        aws_secret_access_key='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'
    )
    bucket_name = 'mbd-dataset' 
    object_name = 'chicago_taxi_trips.parquet' 

    # Upload the file
    s3.upload_file(parquet_file_path, bucket_name, object_name)
    print(f"File {parquet_file_path} uploaded to {bucket_name}/{object_name}")
except NoCredentialsError:
    print("Credentials not available")

File chicago_taxi_trips.parquet uploaded to mbd-dataset/chicago_taxi_trips.parquet

In [ ]:
# Randomly select one row for each unique_key
taxi_data_pd = newdf.groupby('unique_key').apply(lambda x: x.sample(1))

# Reset index to make it a regular DataFrame
taxi_data_pd = random_rows.reset_index(drop=True)

In [ ]:
if(unique_values_with_counts > 1):
    taxi_data_pd = newdf.groupby('unique_key').apply(lambda x: x.sample(1))

In [25]:
df100 = df1.head(100)

In [26]:
df100.shape

(100, 23)

In [30]:
df.shape

(16124035, 23)

In [7]:
df1.shape

(100000, 23)

In [8]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [19]:
# import module
from geopy.geocoders import Photon

In [20]:
# initialize Nominatim API 
geolocator = Photon(user_agent="geoapiExercises")

In [21]:
# Latitude & Longitude input
Latitude = "41.986712"
Longitude = "-87.663416"

location = geolocator.reverse(Latitude+","+Longitude)

# Display
print(location)

1301, West Early Avenue, 60660, West Early Avenue, Lake View Township, Illinois, United States

In [24]:
#address = location.raw['address']

In [28]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
Collecting fiona>=1.8
  Downloading fiona-1.9.5-cp37-cp37m-win_amd64.whl (22.9 MB)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-win_amd64.whl (6.2 MB)
Requirement already satisfied: pandas>=0.25.0 in c:\users\aspire vx\anaconda3\lib\site-packages (from geopandas) (1.0.1)
Collecting shapely>=1.6
  Downloading shapely-2.0.2-cp37-cp37m-win_amd64.whl (1.5 MB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\aspire vx\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (19.3.0)
Requirement already satisfied: setuptools in c:\users\aspire vx\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (45.2.0.post20200210)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting click~=8.0
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six in c:\users\aspire vx\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.14.0)
Requirement already satisfied: certifi in c:\users\aspire vx\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2019.11.28)
Requirement already satisfied: importlib-metadata; python_version < "3.10" in c:\users\aspire vx\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.5.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\aspire vx\anaconda3\lib\site-packages (from pandas>=0.25.0->geopandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\aspire vx\anaconda3\lib\site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\aspire vx\anaconda3\lib\site-packages (from pandas>=0.25.0->geopandas) (1.18.1)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\aspire vx\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8->geopandas) (0.4.3)
Requirement already satisfied: zipp>=0.5 in c:\users\aspire vx\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.10"->fiona>=1.8->geopandas) (2.2.0)
Installing collected packages: click, click-plugins, cligj, fiona, pyproj, shapely, geopandas
  Attempting uninstall: click
    Found existing installation: Click 7.0
    Uninstalling Click-7.0:
      Successfully uninstalled Click-7.0
Successfully installed click-8.1.7 click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.5 geopandas-0.10.2 pyproj-3.2.1 shapely-2.0.2

In [33]:
# Assuming you've already loaded the taxi trip data into a PySpark DataFrame called 'taxi_data'

# Step 1: Load Chicago Neighborhoods GeoJSON or Shapefile using GeoPandas
import geopandas as gpd

neighborhoods_gdf = gpd.read_file('chicago.geojson')

# Step 2: Convert PySpark DataFrame to Pandas DataFrame
taxi_data_pd = df100

# Step 3: Perform Spatial Join
from shapely.geometry import Point

# Create a GeoDataFrame from the Pandas DataFrame
gdf_taxi = gpd.GeoDataFrame(taxi_data_pd, geometry=gpd.points_from_xy(taxi_data_pd.pickup_longitude, taxi_data_pd.pickup_latitude), crs='EPSG:4326')

# Perform spatial join
result = gpd.sjoin(gdf_taxi, neighborhoods_gdf, op='within')

# Step 4: Convert Result Back to PySpark DataFrame
#result_spark = spark.createDataFrame(result)

# Show the result
result

C:\Users\ASPIRE VX\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3254: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if (await self.run_code(code, result,  async_=asy)):

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,geometry,index_right,name,cartodb_id,created_at,updated_at
0,93b363acc692ab64583a2d78780d1f8e31ed5ac8,60bfa66fda3ce439a0ca18ec81dccc1b094f5c97347868...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,2820.0,12.80,NaN,NaN,76.0,77.0,...,POINT (-87.913624596 41.9802643146),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),POINT (-87.91362 41.98026),51,O'Hare,52,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
7,9d3095103e795f982c41b33acad4b6a3f051902e,0178c7b2665f374b21dec6ec342af4a9cc3cfac4c41756...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,466.0,4.09,NaN,NaN,76.0,NaN,...,POINT (-87.913624596 41.9802643146),NaN,NaN,None,POINT (-87.91362 41.98026),51,O'Hare,52,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
22,65e9288f207717459983101059615a2e4cb7f9ea,d0a1ea3715891aed25d97dc21e080b252442d64e8a475a...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,1980.0,0.00,NaN,NaN,76.0,5.0,...,POINT (-87.913624596 41.9802643146),41.947792,-87.683835,POINT (-87.6838349425 41.9477915865),POINT (-87.91362 41.98026),51,O'Hare,52,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
30,4722ec635a6f830dec83a22af3f8277a89dd16cb,199fa05b63204aa1c620c161c5cebe43b0909b1ee99864...,2022-01-18 08:45:00+00:00,2022-01-18 09:45:00+00:00,3300.0,9.00,1.703198e+10,1.703108e+10,76.0,8.0,...,POINT (-87.9030396611 41.9790708201),41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),POINT (-87.90304 41.97907),51,O'Hare,52,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
34,68a05e40630833e72f4eb5d6f8b490f8abfef304,fb1ed566274f6a66dfcddbe4c014bbe87ac3516412dfe6...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,2226.0,18.05,1.703198e+10,1.703184e+10,76.0,32.0,...,POINT (-87.9030396611 41.9790708201),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),POINT (-87.90304 41.97907),51,O'Hare,52,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,d9199354585dd0baa28b65d5ef1efd6f1b2952bf,59b84c0b0d53ada64487e8afa0216f82420ed72f35df5d...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,955.0,5.14,NaN,NaN,35.0,42.0,...,POINT (-87.6186777673 41.8351179863),41.778877,-87.594925,POINT (-87.5949254391 41.7788768603),POINT (-87.61868 41.83512),15,Douglas,16,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
77,db9156e9662f3fd29f08fe7138b8ae333a7c8814,c4fe8d66d53a898fa0f377a510e0fc7f47aa37f922262e...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,2297.0,16.47,NaN,NaN,17.0,32.0,...,POINT (-87.8060200025 41.9465114202),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),POINT (-87.80602 41.94651),31,Dunning,32,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
78,48e1fdd3e2ae049e6481c61a52b0ffcc4ef6c888,e3b1277a5bbff691880cdd9213bc7c40859eb5d924e005...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,567.0,2.03,NaN,NaN,7.0,8.0,...,POINT (-87.6494887289 41.9226862843),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.64949 41.92269),3,Sheffield & DePaul,4,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
81,25c2b928d18289bdfc253e20eb3995ad65be412b,c53face33b74e90c719c30c33f394050ca1e93ca6b11a8...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1621.0,16.38,NaN,NaN,45.0,NaN,...,POINT (-87.5863483178 41.7441995348),NaN,NaN,None,POINT (-87.58635 41.74420),9,Avalon Park,10,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00
88,540364d99f806d44957ac8f558ff5840519432c9,80b33c6123e5192e254b219f429bd376d02aad87b9bc2e...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,2171.0,13.21,NaN,NaN,51.0,8.0,...,POINT (-87.5700582686 41.6906333472),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.57006 41.69063),41,South Deering,42,2013-02-02T23:59:44.021999+00:00,2013-02-02T23:59:44.294998+00:00

In [36]:
result1 = result[["pickup_longitude", "pickup_latitude", "name"]]
result1

    pickup_longitude  pickup_latitude                name
0         -87.913625        41.980264              O'Hare
7         -87.913625        41.980264              O'Hare
22        -87.913625        41.980264              O'Hare
30        -87.903040        41.979071              O'Hare
34        -87.903040        41.979071              O'Hare
..               ...              ...                 ...
72        -87.618678        41.835118             Douglas
77        -87.806020        41.946511             Dunning
78        -87.649489        41.922686  Sheffield & DePaul
81        -87.586348        41.744200         Avalon Park
88        -87.570058        41.690633       South Deering

[93 rows x 3 columns]

In [38]:
import pandas as pd

# Assuming your original DataFrame is named 'df'
# If not, replace 'df' with the actual name of your DataFrame

# Group by 'name' and calculate the average longitude and latitude for each group
grouped_data = result1.groupby('name').agg({'pickup_longitude': 'mean', 'pickup_latitude': 'mean'}).reset_index()

# Create a new DataFrame with the calculated averages
new_dataframe = pd.DataFrame({
    'name': grouped_data['name'],
    'average_longitude': grouped_data['pickup_longitude'],
    'average_latitude': grouped_data['pickup_latitude']
})

# Display the new DataFrame
print(new_dataframe)

                  name  average_longitude  average_latitude
0          Albany Park         -87.721559         41.968069
1          Avalon Park         -87.586348         41.744200
2              Douglas         -87.618678         41.835118
3              Dunning         -87.806020         41.946511
4         East Village         -87.676356         41.901207
5            Edgewater         -87.663416         41.986712
6            Englewood         -87.642498         41.777196
7       Garfield Ridge         -87.769615         41.792592
8           Gold Coast         -87.626659         41.907520
9      Grand Boulevard         -87.617860         41.812949
10      Grand Crossing         -87.616134         41.763247
11       Humboldt Park         -87.720918         41.900070
12           Hyde Park         -87.592311         41.794090
13           Lake View         -87.655998         41.944227
14   Little Italy, UIC         -87.663518         41.874005
15                Loop         -87.625863         41.880516
16       Mckinley Park         -87.672503         41.829922
17         Morgan Park         -87.669054         41.689730
18       Museum Campus         -87.617358         41.859350
19     Near South Side         -87.620335         41.857184
20              O'Hare         -87.910978         41.979966
21             Oakland         -87.602350         41.823713
22         River North         -87.633308         41.899602
23            Roseland         -87.623367         41.706588
24  Sheffield & DePaul         -87.649489         41.922686
25       South Deering         -87.570058         41.690633
26       Streeterville         -87.619711         41.895033
27              Uptown         -87.655879         41.965812
28     Washington Park         -87.617931         41.792357
29           West Loop         -87.642649         41.879255
30          West Ridge         -87.695013         42.001571

In [41]:
taxi_data_pd

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,geometry
0,93b363acc692ab64583a2d78780d1f8e31ed5ac8,60bfa66fda3ce439a0ca18ec81dccc1b094f5c97347868...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,2820.0,12.80,NaN,NaN,76.0,77.0,...,41.75,Credit Card,Taxi Affiliation Services,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),POINT (-87.91362 41.98026)
1,215599d01935e2110fd9d51d5c0e5cf01c0562f0,f6138aa35e1fb074eb79fbe29f512b6153dca3593d8cd2...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,720.0,3.10,1.703128e+10,1.703133e+10,28.0,33.0,...,14.50,Cash,"Taxicab Insurance Agency, LLC",41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.859350,-87.617358,POINT (-87.6173580061 41.859349715),POINT (-87.64265 41.87926)
2,9de2dc8c30285ae4ef7ec7094d03d2badd86923c,e582bdc2b107b7199f911e7e6081b3c5ba6e936fe85cef...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1660.0,12.55,NaN,NaN,49.0,61.0,...,34.02,Cash,Flash Cab,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.809018,-87.659167,POINT (-87.6591665992 41.8090182499),POINT (-87.62337 41.70659)
3,5f963563c4cd8c71ce66a9462b6bc904ec738aa0,76195767851c0e4807795915d7a0579a1c625c2eae552b...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1680.0,14.50,NaN,NaN,3.0,43.0,...,37.50,Unknown,Taxi Affiliation Services,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.761578,-87.572782,POINT (-87.5727819867 41.7615779081),POINT (-87.65588 41.96581)
4,608140a5be3de3233da99cb17f6b8db76d168a2e,3ff6ae822a41ebadfdbdecf4bfe5cd766bc1c22f885fff...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1701.0,5.17,NaN,NaN,23.0,8.0,...,19.00,Prcard,Flash Cab,41.900070,-87.720918,POINT (-87.7209182385 41.9000696026),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.72092 41.90007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,049b0663f11c069d94d17744aa8d51ec4fa7b9c7,c25a629b09eb8c712ecc8a857390217f3bb7805736dc2a...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,500.0,1.89,1.703108e+10,1.703108e+10,8.0,8.0,...,8.25,Cash,Flash Cab,41.907520,-87.626659,POINT (-87.6266589003 41.9075200747),41.893216,-87.637844,POINT (-87.6378442095 41.8932163595),POINT (-87.62666 41.90752)
96,1af5508ae3f41ffda816aa90118fa04df3f768d7,a79d72d3d49bed13558577cc0608caf7e8da5b9cee67b6...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1313.0,11.58,NaN,NaN,8.0,8.0,...,31.25,Prcard,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
97,9f0d9d1043c39860b5057d38f1f4ed44908e88e7,68a54d4a1e27d763040f182bb436b3ffb52cf64978b091...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,189.0,0.70,NaN,NaN,3.0,3.0,...,5.07,Prcard,Flash Cab,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.965812,-87.655879,POINT (-87.6558787862 41.96581197),POINT (-87.65588 41.96581)
98,1e60b017e3731934e37fa9b757dce1109d964445,fdeaab06ce15ad69658acbc0e591218ef6146a29ef2127...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,360.0,1.00,NaN,NaN,8.0,8.0,...,6.25,Unknown,"Taxicab Insurance Agency, LLC",41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
99,096fe7a8eb8075d133b62c7e538017e17f2ff83c,73f6888d8d8f9808f6624377edfa1e2a0a574b06eafbc9...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,887.0,5.43,NaN,NaN,77.0,6.0,...,16.50,Cash,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),POINT (-87.66342 41.98671)

In [57]:
taxi_data_pd

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,geometry
0,93b363acc692ab64583a2d78780d1f8e31ed5ac8,60bfa66fda3ce439a0ca18ec81dccc1b094f5c97347868...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,2820.0,12.80,NaN,NaN,76.0,77.0,...,41.75,Credit Card,Taxi Affiliation Services,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),POINT (-87.91362 41.98026)
1,215599d01935e2110fd9d51d5c0e5cf01c0562f0,f6138aa35e1fb074eb79fbe29f512b6153dca3593d8cd2...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,720.0,3.10,1.703128e+10,1.703133e+10,28.0,33.0,...,14.50,Cash,"Taxicab Insurance Agency, LLC",41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.859350,-87.617358,POINT (-87.6173580061 41.859349715),POINT (-87.64265 41.87926)
2,9de2dc8c30285ae4ef7ec7094d03d2badd86923c,e582bdc2b107b7199f911e7e6081b3c5ba6e936fe85cef...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1660.0,12.55,NaN,NaN,49.0,61.0,...,34.02,Cash,Flash Cab,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.809018,-87.659167,POINT (-87.6591665992 41.8090182499),POINT (-87.62337 41.70659)
3,5f963563c4cd8c71ce66a9462b6bc904ec738aa0,76195767851c0e4807795915d7a0579a1c625c2eae552b...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1680.0,14.50,NaN,NaN,3.0,43.0,...,37.50,Unknown,Taxi Affiliation Services,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.761578,-87.572782,POINT (-87.5727819867 41.7615779081),POINT (-87.65588 41.96581)
4,608140a5be3de3233da99cb17f6b8db76d168a2e,3ff6ae822a41ebadfdbdecf4bfe5cd766bc1c22f885fff...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1701.0,5.17,NaN,NaN,23.0,8.0,...,19.00,Prcard,Flash Cab,41.900070,-87.720918,POINT (-87.7209182385 41.9000696026),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.72092 41.90007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,049b0663f11c069d94d17744aa8d51ec4fa7b9c7,c25a629b09eb8c712ecc8a857390217f3bb7805736dc2a...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,500.0,1.89,1.703108e+10,1.703108e+10,8.0,8.0,...,8.25,Cash,Flash Cab,41.907520,-87.626659,POINT (-87.6266589003 41.9075200747),41.893216,-87.637844,POINT (-87.6378442095 41.8932163595),POINT (-87.62666 41.90752)
96,1af5508ae3f41ffda816aa90118fa04df3f768d7,a79d72d3d49bed13558577cc0608caf7e8da5b9cee67b6...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1313.0,11.58,NaN,NaN,8.0,8.0,...,31.25,Prcard,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
97,9f0d9d1043c39860b5057d38f1f4ed44908e88e7,68a54d4a1e27d763040f182bb436b3ffb52cf64978b091...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,189.0,0.70,NaN,NaN,3.0,3.0,...,5.07,Prcard,Flash Cab,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.965812,-87.655879,POINT (-87.6558787862 41.96581197),POINT (-87.65588 41.96581)
98,1e60b017e3731934e37fa9b757dce1109d964445,fdeaab06ce15ad69658acbc0e591218ef6146a29ef2127...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,360.0,1.00,NaN,NaN,8.0,8.0,...,6.25,Unknown,"Taxicab Insurance Agency, LLC",41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
99,096fe7a8eb8075d133b62c7e538017e17f2ff83c,73f6888d8d8f9808f6624377edfa1e2a0a574b06eafbc9...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,887.0,5.43,NaN,NaN,77.0,6.0,...,16.50,Cash,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),POINT (-87.66342 41.98671)

In [61]:
# Randomly select one row for each unique_key
taxi_data_pd = taxi_data_pd.groupby('unique_key').apply(lambda x: x.sample(1))

# Reset index to make it a regular DataFrame
taxi_data_pd = random_rows.reset_index(drop=True)

In [63]:
taxi_data_pd

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,geometry
0,93b363acc692ab64583a2d78780d1f8e31ed5ac8,60bfa66fda3ce439a0ca18ec81dccc1b094f5c97347868...,2022-01-18 08:45:00+00:00,2022-01-18 09:30:00+00:00,2820.0,12.80,NaN,NaN,76.0,77.0,...,41.75,Credit Card,Taxi Affiliation Services,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),POINT (-87.91362 41.98026)
1,215599d01935e2110fd9d51d5c0e5cf01c0562f0,f6138aa35e1fb074eb79fbe29f512b6153dca3593d8cd2...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,720.0,3.10,1.703128e+10,1.703133e+10,28.0,33.0,...,14.50,Cash,"Taxicab Insurance Agency, LLC",41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.859350,-87.617358,POINT (-87.6173580061 41.859349715),POINT (-87.64265 41.87926)
2,9de2dc8c30285ae4ef7ec7094d03d2badd86923c,e582bdc2b107b7199f911e7e6081b3c5ba6e936fe85cef...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1660.0,12.55,NaN,NaN,49.0,61.0,...,34.02,Cash,Flash Cab,41.706588,-87.623367,POINT (-87.6233665115 41.7065878819),41.809018,-87.659167,POINT (-87.6591665992 41.8090182499),POINT (-87.62337 41.70659)
3,5f963563c4cd8c71ce66a9462b6bc904ec738aa0,76195767851c0e4807795915d7a0579a1c625c2eae552b...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1680.0,14.50,NaN,NaN,3.0,43.0,...,37.50,Unknown,Taxi Affiliation Services,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.761578,-87.572782,POINT (-87.5727819867 41.7615779081),POINT (-87.65588 41.96581)
4,608140a5be3de3233da99cb17f6b8db76d168a2e,3ff6ae822a41ebadfdbdecf4bfe5cd766bc1c22f885fff...,2022-01-18 08:45:00+00:00,2022-01-18 09:15:00+00:00,1701.0,5.17,NaN,NaN,23.0,8.0,...,19.00,Prcard,Flash Cab,41.900070,-87.720918,POINT (-87.7209182385 41.9000696026),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.72092 41.90007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,049b0663f11c069d94d17744aa8d51ec4fa7b9c7,c25a629b09eb8c712ecc8a857390217f3bb7805736dc2a...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,500.0,1.89,1.703108e+10,1.703108e+10,8.0,8.0,...,8.25,Cash,Flash Cab,41.907520,-87.626659,POINT (-87.6266589003 41.9075200747),41.893216,-87.637844,POINT (-87.6378442095 41.8932163595),POINT (-87.62666 41.90752)
96,1af5508ae3f41ffda816aa90118fa04df3f768d7,a79d72d3d49bed13558577cc0608caf7e8da5b9cee67b6...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,1313.0,11.58,NaN,NaN,8.0,8.0,...,31.25,Prcard,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
97,9f0d9d1043c39860b5057d38f1f4ed44908e88e7,68a54d4a1e27d763040f182bb436b3ffb52cf64978b091...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,189.0,0.70,NaN,NaN,3.0,3.0,...,5.07,Prcard,Flash Cab,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.965812,-87.655879,POINT (-87.6558787862 41.96581197),POINT (-87.65588 41.96581)
98,1e60b017e3731934e37fa9b757dce1109d964445,fdeaab06ce15ad69658acbc0e591218ef6146a29ef2127...,2022-01-18 08:45:00+00:00,2022-01-18 08:45:00+00:00,360.0,1.00,NaN,NaN,8.0,8.0,...,6.25,Unknown,"Taxicab Insurance Agency, LLC",41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111),POINT (-87.63331 41.89960)
99,096fe7a8eb8075d133b62c7e538017e17f2ff83c,73f6888d8d8f9808f6624377edfa1e2a0a574b06eafbc9...,2022-01-18 08:45:00+00:00,2022-01-18 09:00:00+00:00,887.0,5.43,NaN,NaN,77.0,6.0,...,16.50,Cash,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),POINT (-87.66342 41.98671)

In [60]:
unique_values_with_counts = random_rows['unique_key'].value_counts()
unique_values_with_counts

855c609acd6ab0132fa590db43a9f4e752b7e2ce    1
1af5508ae3f41ffda816aa90118fa04df3f768d7    1
8567c20511cce76b246444868f28ed16d138a900    1
e8f8b930763400f5e43f6fc0703e6d89e17fe9ad    1
254a3e5a1cd1b6e95b37b64c209f6eb641b17e0e    1
                                           ..
db1122e01c212f9a1a0077ff030c6ff977ca1a79    1
86ffdb2561d2f0828ea51f8b93e43936e632c627    1
93b363acc692ab64583a2d78780d1f8e31ed5ac8    1
ac22711a79625729a841bbbc0965cdc48ebe3e6d    1
4722ec635a6f830dec83a22af3f8277a89dd16cb    1
Name: unique_key, Length: 100, dtype: int64